.DS_Store
.idea/
bin/
build/
dist/
docs/
*.autosave
__pycache__
.pytest_cache
.eggs
vorta.egg-info
.coverage
.tox
.python-version
.vagrant
*.log
htmlcov
# virtual python environments
env
venv
.env
.venv
# dirs created by the --development option
.dev_config/
# Avoid adding translations of source language
# Files are still used by Transifex
src/vorta/i18n/ts/vorta.en.ts
src/vorta/i18n/ts/vorta.en_US.ts
flatpak/app/
flatpak/.flatpak-builder/
.vscode
