graft src/vorta/assets

# Include all compiled .qm language files, but exclude the source language – en_US.
recursive-include src/vorta/i18n/qm *.qm
exclude src/vorta/i18n/qm/vorta.en_US.qm

recursive-exclude tests *
