graft src/vorta/assets

# Include all compiled .qm language files, but exclude the source language (en).
recursive-include src/vorta/i18n/qm *.qm
exclude src/vorta/i18n/qm/vorta.en.qm

recursive-exclude tests *
global-exclude *.DS_Store
global-exclude *.egg-info
