[Desktop Entry]
Name=Vorta
GenericName=Backup Software
Exec=vorta
Type=Application
Icon=com.borgbase.Vorta
Categories=Utility;Archiving;Qt;
Keywords=borg;
StartupWMClass=vorta
